<!--
  {% for feature in site.features %}
    {{ feature.id }}
    {{ feature.image }}
    {{ feature.heading }}
    {{ feature.subheading }}
    {{ feature.content }}
  {% endfor %}
 -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-60-0 p-lg-30-0 p-md-15-0">
    <!-- col -->
    <div class="col-lg-12">

      <div class="art-a art-banner" style="background-image: url('{{ site.baseurl }}/assets/img/bg.jpg')">
        <div class="art-banner-back"></div>
        <div class="art-banner-dec"></div>
        <div class="art-banner-overlay">
          <div class="art-banner-title">
            
            <h1 class="mb-15">Hola, soy {{ site.sitename }}<br></h1>

            <h4 class="mb-15">It's not my work, It's my passion.</h4>

            <div class="art-lg-text art-code mb-25">&lt;<i>code</i>&gt; I build <span class="txt-rotate" data-period="2000"
                data-rotate='[ "solution architectures.", "enterprise architectures.", "DevSecOps projects.", "automation processes." ]'></span>&lt;/<i>code</i>&gt;</div>
            <div class="art-buttons-frame">
            </div>
          </div>
          <img src="{{ site.baseurl }}/assets/img/face-2.png" class="art-banner-photo" alt="{{ site.sitename }}">
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid">

  <div class="row p-30-0">

    <div class="col-md-3 col-6">

      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">10</span><span class="art-counter-plus">+</span>
        </div>
        
        <h6>Años de experiencia</h6>
      </div>

    </div>

    <div class="col-md-3 col-6">

      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">85</span>
        </div>
        
        <h6>Proyectos terminados</h6>
      </div>

    </div>
    <div class="col-md-3 col-6">
      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">35</span>
        </div>
        <h6>Clientes felices</h6>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">20</span><span class="art-counter-plus">+</span>
        </div>
        
        <h6>Tecnologías aplicadas</h6>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid" id="servicio">

  <div class="row">

    <div class="col-lg-12">

      <div class="art-section-title">
        <div class="art-title-frame">
          
          <h4>Proyectos recientes</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          
          <h5 class="mb-15">Secure iot communication</h5>
          <div class="mb-15">SafeTemperatureProject - Laboratorio de firma digital para la comunicación segura entre una estación de monitoreo de temperatura desde una Raspberry Pi y una entidad certificadora.</div>
          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/SafeTemperatureProject"  class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          
          <h5 class="mb-15">ReactJS and blockchain</h5>
          <div class="mb-15">BlockchainProject - proyecto desarrollado con el framework de ReactJS. En este proyecto se implementa un contrato inteligente utilizando Ganache y Etherium</div>
      
          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/BlockchainProject" class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          
          <h5 class="mb-15">Certification authority in Django</h5>
         
          <div class="mb-15">CriptoProject - Proyecto desarrollado en Django en el que se implementa una entidad certificadora y algunas funcionalidades para la implementación de criptografia.</div>
        
          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/CriptoProject" class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          
          <h5 class="mb-15">Game Design</h5>
          <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.</div>
       
          <div class="art-buttons-frame"><a href="#." class="art-link art-color-link art-w-chevron">Order now</a></div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">

      <!-- service -->
      <div class="art-a art-service-icon-box">
        <!-- service content -->
        <div class="art-service-ib-content">
          
          <h5 class="mb-15">Advertising</h5>
          <!-- text -->
          <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse commodi deserunt vitae, vero quasi! Veniam quaerat tenetur pariatur doloribus.</div>
          <!-- button -->
          <div class="art-buttons-frame"><a href="#." class="art-link art-color-link art-w-chevron">Order now</a></div>
        </div>
        <!-- service content end -->
      </div>
      <!-- service end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->



<!-- container -->
<div id="recomendaciones" class="container-fluid" >

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Recomendaciones</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider container -->
      <div class="swiper-container art-testimonial-slider" style="overflow: visible">
        <!-- slider wrapper -->
        <div class="swiper-wrapper">
          <!-- slide -->
          <div class="swiper-slide">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-1.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- slide end -->

          <!-- slide -->
          <div class="swiper-slide">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-2.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li class="art-empty-item"><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- slide end -->

          <!-- slide -->
          <div class="swiper-slide">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-3.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- slide end -->

          <!-- slide -->
          <div class="swiper-slide">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-4.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- slide end -->

        </div>
        <!-- slider wrapper end -->
      </div>
      <!-- slider container end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider navigation -->
      <div class="art-slider-navigation">

        <!-- left side -->
        <div class="art-sn-left">

          <!-- slider pagination -->
          <div class="swiper-pagination"></div>

        </div>
        <!-- left side end -->

        <!-- right side -->
        <div class="art-sn-right">

          <!-- slider navigation -->
          <div class="art-slider-nav-frame">
            <!-- prev -->
            <div class="art-slider-nav art-testi-swiper-prev"><i class="fas fa-chevron-left"></i></div>
            <!-- next -->
            <div class="art-slider-nav art-testi-swiper-next"><i class="fas fa-chevron-right"></i></div>
          </div>
          <!-- slider navigation -->

        </div>
        <!-- right side end -->

      </div>
      <!-- slider navigation end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Works</h4>
        </div>
        <!-- title frame end -->
        <!-- right frame -->
        <div class="art-right-frame">
          <!-- filter -->
          <div class="art-filter">
            <!-- filter link -->
            <a href="#" data-filter="*" class="art-link art-current">All Categories</a>
            <!-- filter link -->
            <a href="#" data-filter=".webTemplates" class="art-link">Web Templates</a>
            <!-- filter link -->
            <a href="#" data-filter=".logos" class="art-link">Logos</a>
            <!-- filter link -->
            <a href="#" data-filter=".drawings" class="art-link">Drawings</a>
            <!-- filter link -->
            <a href="#" data-filter=".ui" class="art-link">UI Elements</a>
          </div>
          <!-- filter end -->
        </div>
        <!-- right frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

    <div class="art-grid art-grid-3-col art-gallery">

      <!-- grid item -->
      <div class="art-grid-item webTemplates">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/1.jpg" class="art-a art-portfolio-item-frame art-horizontal">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/1.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item logos">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/2.jpg" class="art-a art-portfolio-item-frame art-vertical">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/2.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item drawings">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/3.jpg" class="art-a art-portfolio-item-frame art-square">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/3.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item ui">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/4.jpg" class="art-a art-portfolio-item-frame art-vertical">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/4.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item webTemplates">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/5.jpg" class="art-a art-portfolio-item-frame art-square">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/5.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item logos">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/6.jpg" class="art-a art-portfolio-item-frame art-vertical">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/6.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item drawings">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/7.jpg" class="art-a art-portfolio-item-frame art-square">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/7.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <div class="mb-15">Sit amet, consectetur adipisicing elit. Quas, architecto.</div>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

      <!-- grid item -->
      <div class="art-grid-item ui">
        <!-- grid item frame -->
        <a data-fancybox="gallery" href="img/works/original-size/8.jpg" class="art-a art-portfolio-item-frame art-horizontal">
          <!-- img -->
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/8.jpg" alt="item">
          <!-- zoom icon -->
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <!-- grid item frame end -->
        <!-- description -->
        <div class="art-item-description">
          
          <h5 class="mb-15">Project title</h5>
          <!-- button -->
          <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
        </div>
        <!-- description end -->

      </div>
      <!-- grid item end -->

    </div>

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-lg-6">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Education</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline art-gallery" id="history">
        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>

            <p>Dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
            <a data-fancybox="diplome" href="{{ site.baseurl }}/assets/files/certificate.jpg" class="art-link art-color-link art-w-chevron">Diplome</a>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <div>Consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</div>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
            <a data-fancybox="diplome" href="{{ site.baseurl }}/assets/files/certificate.jpg" class="art-link art-color-link art-w-chevron">Licence</a>
          </div>

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <p>Ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <a data-fancybox="diplome" href="{{ site.baseurl }}/assets/files/certificate.jpg" class="art-link art-color-link art-w-chevron">Certificate</a>
          </div>

        </div>

      </div>
      <!-- timeline end -->

    </div>
    <div class="col-lg-6">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Work History</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

      <!-- timeline -->
      <div class="art-timeline">

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <p>Placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <p>Adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-1" class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

          <!-- popup -->
          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-1">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-3.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- popup end -->

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - may 2020</span>
              </div>
            </div>
            <p>Consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem
              ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam
              dolore
              possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-2" class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

          <!-- popup -->
          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-2">

            <!-- testimonial -->
            <div class="art-a art-testimonial">
              <!-- testimonial body -->
              <div class="testimonial-body">
                <!-- photo -->
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-4.jpg" alt="face">
                <!-- name -->
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <!-- text -->
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <!-- testimonial body end -->
              <!-- testimonial footer -->
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <!-- star rate -->
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                  <!-- star rate end -->
                </div>
                <div class="art-right-side">

                </div>
              </div>
              <!-- testimonial footer end -->
            </div>
            <!-- testimonial end -->

          </div>
          <!-- popup end -->

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Title of section 1</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">jan 2018 - tonight</span>
              </div>
            </div>
            <p>Dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-3" class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-3">

            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-2.jpg" alt="face">
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li class="art-empty-item"><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid" >

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Newsletter</h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider container -->
      <div class="swiper-container art-blog-slider" style="overflow: visible">
        <!-- slider wrapper -->
        <div class="swiper-wrapper">
          <!-- slide -->
          <div class="swiper-slide">

            <!-- blog post card -->
            <div class="art-a art-blog-card">
              <!-- post cover -->
              <a href="#." class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/img/blog/1.jpg" alt="blog post">
              </a>
              <!-- post cover end -->
              <!-- post description -->
              <div class="art-post-description">
                
                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <!-- text -->
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <!-- link -->
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>
              <!-- post description end -->
            </div>
            <!-- blog post card end -->

          </div>
          <!-- slide end -->
          <!-- slide -->
          <div class="swiper-slide">

            <!-- blog post card -->
            <div class="art-a art-blog-card">
              <!-- post cover -->
              <a href="#." class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/img/blog/2.jpg" alt="blog post">
              </a>
              <!-- post cover end -->
              <!-- post description -->
              <div class="art-post-description">
                
                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <!-- text -->
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <!-- link -->
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>
              <!-- post description end -->
            </div>
            <!-- blog post card end -->

          </div>
          <!-- slide end -->
          <!-- slide -->
          <div class="swiper-slide">

            <!-- blog post card -->
            <div class="art-a art-blog-card">
              <!-- post cover -->
              <a href="#." class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/img/blog/3.jpg" alt="blog post">
              </a>
              <!-- post cover end -->
              <!-- post description -->
              <div class="art-post-description">
                
                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <!-- text -->
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <!-- link -->
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>
              <!-- post description end -->
            </div>
            <!-- blog post card end -->

          </div>
          <!-- slide end -->
          <!-- slide -->
          <div class="swiper-slide">

            <!-- blog post card -->
            <div class="art-a art-blog-card">
              <!-- post cover -->
              <a href="#." class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/img/blog/4.jpg" alt="blog post">
              </a>
              <!-- post cover end -->
              <!-- post description -->
              <div class="art-post-description">
                
                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <!-- text -->
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <!-- link -->
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>
              <!-- post description end -->
            </div>
            <!-- blog post card end -->

          </div>
          <!-- slide end -->
          <!-- slide -->
          <div class="swiper-slide">

            <!-- blog post card -->
            <div class="art-a art-blog-card">
              <!-- post cover -->
              <a href="#." class="art-port-cover">
                <!-- img -->
                <img src="{{ site.baseurl }}/assets/img/blog/5.jpg" alt="blog post">
              </a>
              <!-- post cover end -->
              <!-- post description -->
              <div class="art-post-description">
                
                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <!-- text -->
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <!-- link -->
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>
              <!-- post description end -->
            </div>
            <!-- blog post card end -->

          </div>
          <!-- slide end -->
        </div>
        <!-- slider wrapper end -->
      </div>
      <!-- slider container end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- slider navigation -->
      <div class="art-slider-navigation">

        <!-- left side -->
        <div class="art-sn-left">

          <!-- slider pagination -->
          <div class="swiper-pagination"></div>

        </div>
        <!-- left side end -->

        <!-- right side -->
        <div class="art-sn-right">

          <!-- slider navigation -->
          <div class="art-slider-nav-frame">
            <!-- prev -->
            <div class="art-slider-nav art-blog-swiper-prev"><i class="fas fa-chevron-left"></i></div>
            <!-- next -->
            <div class="art-slider-nav art-blog-swiper-next"><i class="fas fa-chevron-right"></i></div>
          </div>
          <!-- slider navigation -->

        </div>
        <!-- right side end -->

      </div>
      <!-- slider navigation end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row p-30-0">

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
          <h4>Información de contacto - <a href="mailto:breinergonza@hotmail.com">Escribeme</a></h4>
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Pais:</h6><span>Colombia</span>
            </li>
            <li>
              <h6>Ciudad:</h6><span>Bogotá</span>
            </li>

            <li>
              <h6>Dirección:</h6><span>Av. Cr. 68 #15-19</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->
    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Email:</h6><span>breinergonza@hotmail.com</span>
            </li>
            <li>
              <h6>Telegram:</h6><span>@breinergonza</span>
            </li>
            <li>
              <h6>Skype:</h6><span>breinergonza</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->
    </div>
    <!-- col end -->
    <!-- col -->
    <div class="col-lg-4">
      <!-- contact card -->
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Celular:</h6><span>+57 (311) 652 05 74</span>
            </li>
            <li>
              <h6>Telefono:</h6><span>+57 (031) 813 39 53</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- contact card end -->

    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-lg-12">

      <!-- section title -->
      <div class="art-section-title">
        <!-- title frame -->
        <div class="art-title-frame">
          
        </div>
        <!-- title frame end -->
      </div>
      <!-- section title end -->

    </div>
    <!-- col end -->

  </div>
  <!-- row end -->

</div>
<!-- container end -->

<!-- container -->
<div class="container-fluid">

  <!-- row -->
  <div class="row">

    <!-- col -->
    <div class="col-6 col-lg-3">
      <!-- brand -->
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/1.png" alt="brand">
    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-6 col-lg-3">
      <!-- brand -->
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/2.png" alt="brand">
    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-6 col-lg-3">
      <!-- brand -->
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/3.png" alt="brand">
    </div>
    <!-- col end -->

    <!-- col -->
    <div class="col-6 col-lg-3">
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/1.png" alt="brand">
    </div>

  </div>

</div>
