<!--
  {% for feature in site.features %}
    {{ feature.id }}
    {{ feature.image }}
    {{ feature.heading }}
    {{ feature.subheading }}
    {{ feature.content }}
  {% endfor %}
 -->

<div class="container-fluid">

  <div class="row p-60-0 p-lg-30-0 p-md-15-0">

    <div class="col-lg-12">

      <div class="art-a art-banner" style="background-image: url('{{ site.baseurl }}/assets/img/bg.jpg')">
        <div class="art-banner-back"></div>
        <div class="art-banner-dec"></div>
        <div class="art-banner-overlay">
          <div class="art-banner-title">

            <h1 class="mb-15">Hola, soy {{ site.sitename }}<br></h1>

            <h4 class="mb-15">It's not my work, It's my passion.</h4>

            <div class="art-lg-text art-code mb-25">&lt;<i>code</i>&gt; I build <span class="txt-rotate"
                data-period="2000"
                data-rotate='[ "solution architectures.", "enterprise architectures.", "DevSecOps projects.", "automation processes." ]'></span>&lt;/<i>code</i>&gt;
            </div>
            <div class="art-buttons-frame">
            </div>
          </div>
          <img src="{{ site.baseurl }}/assets/img/face-2.png" class="art-banner-photo" alt="{{ site.sitename }}">
        </div>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid">

  <div class="row p-30-0">

    <div class="col-md-3 col-6">

      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">10</span><span class="art-counter-plus">+</span>
        </div>

        <h6>Años de experiencia</h6>
      </div>

    </div>

    <div class="col-md-3 col-6">

      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">85</span>
        </div>

        <h6>Proyectos terminados</h6>
      </div>

    </div>
    <div class="col-md-3 col-6">
      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">35</span>
        </div>
        <h6>Clientes felices</h6>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div class="art-counter-frame">
        <div class="art-counter-box">
          <span class="art-counter">20</span><span class="art-counter-plus">+</span>
        </div>

        <h6>Tecnologías aplicadas</h6>
      </div>

    </div>
  </div>

</div>
<div class="container-fluid" id="servicio">

  <div class="row">

    <div class="col-lg-12">

      <div class="art-section-title">
        <div class="art-title-frame">

          <h4>Proyectos recientes</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">

          <h5 class="mb-15">Secure iot communication</h5>
          <div class="mb-15">SafeTemperatureProject - Laboratorio de firma digital para la comunicación segura entre una
            estación de monitoreo de temperatura desde una Raspberry Pi y una entidad certificadora.</div>
          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/SafeTemperatureProject"
              class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">
      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          <h5 class="mb-15">ReactJS and blockchain</h5>
          <div class="mb-15">BlockchainProject - proyecto desarrollado con el framework de ReactJS. En este proyecto se
            implementa un contrato inteligente utilizando Ganache y Etherium</div>

          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/BlockchainProject"
              class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">

          <h5 class="mb-15">Certification authority in Django</h5>

          <div class="mb-15">CriptoProject - Proyecto desarrollado en Django en el que se implementa una entidad
            certificadora y algunas funcionalidades para la implementación de criptografia.</div>

          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/CriptoProject"
              class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>

    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">

          <h5 class="mb-15">Rabbitmq server</h5>
          <div class="mb-15">Repositorio "forked from rabbitmq/rabbitmq-server" con el instalador del Broker de
            mensajeria RabbitMQ.</div>

          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/rabbitmq-server"
              class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-md-6">

      <div class="art-a art-service-icon-box">
        <div class="art-service-ib-content">
          <h5 class="mb-15">Laboratorio .Net Core y Angular</h5>
          <div class="mb-15">Proyecto de laboratorio en donde se implementa un BackEnd en asp core 4.8 y un FrontEnd en
            Angular.</div>

          <div class="art-buttons-frame"><a href="https://github.com/breinergonza/TestNetApiAngular"
              class="art-link art-color-link art-w-chevron" target="_blank">Ver</a></div>
        </div>
      </div>

    </div>

  </div>

</div>

<div id="recomendaciones" class="container-fluid">

  <div class="row">

    <div class="col-lg-12">

      <div class="art-section-title">
        <div class="art-title-frame">

          <h4>Recomendaciones</h4>
        </div>
      </div>

    </div>
    <div class="col-lg-12">

      <div class="swiper-container art-testimonial-slider" style="overflow: visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/anny.jpeg" alt="anny">
                <h5>Anny Arzuaga A.</h5>
                <div class="art-el-suptitle mb-15">B2B Sales & partnerships</div>
                <div class="mb-15">Breitner es una de las personas mas comprometidas, trabajadoras y estudiosas que
                  conozco, siempre enfrentando cada desafío profesional y personal con mucho optimismo y energía, es un
                  gran compañero de equipo alguien con quien siempre puedes contar para lo que sea, cuando nadie está
                  para darte una mano, él esta ahí.
                  Sin duda de los mejores compañeros de equipo que he tenido.</div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>
          <div class="swiper-slide">

            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/oscar.jpeg"
                  alt="oscar">
                <h5>Oscar R. Londoño L.</h5>
                <div class="art-el-suptitle mb-15">Arquitecto en Gestión Informática</div>
                <div class="mb-15">Profesional y muy responsable, juntos cumplimos con éxito nuestros objetivos en la
                  organización donde tuve el gusto de conocerlo. Se destaca su conocimiento en arquitecturas cloud y
                  buenas prácticas de desarrollo, siendo siempre un ingeniero con conocimiento en tecnologías que están
                  a la vanguardia en el mercado.</div>
              </div>

              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>



          <div class="swiper-slide">
            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/luisa.jpeg"
                  alt="luisa">
                <h5>Luisa Fernanda Coronel C</h5>
                <div class="art-el-suptitle mb-15">QA Senior | ISTQB | KANBAN | SCRUM MASTER</div>
                <div class="mb-15">Breitner es una persona enfocada, se alinea con los objetivos del proyecto en curso y
                  propone nuevas ideas, siempre con escucha generosa.</div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>

          <div class="swiper-slide">
            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/jose.jpeg" alt="jose">
                <h5>Jose A. Gonzalez Guevara</h5>
                <div class="art-el-suptitle mb-15">Software Development Sr Analyst en Mercado Libre</div>
                <div class="mb-15">Tuve la oportunidad de trabajar con el, una persona comprometida e investigativo.
                </div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li class="art-empty-item"><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
    <div class="col-lg-12">
      <div class="art-slider-navigation">
        <div class="art-sn-left">
          <div class="swiper-pagination"></div>

        </div>
        <div class="art-sn-right">
          <div class="art-slider-nav-frame">
            <div class="art-slider-nav art-testi-swiper-prev"><i class="fas fa-chevron-left"></i></div>
            <div class="art-slider-nav art-testi-swiper-next"><i class="fas fa-chevron-right"></i></div>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>


<div class="container-fluid">

  <div class="row">

    <div class="col-lg-6">

      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Educación</h4>
        </div>
      </div>

      <div class="art-timeline art-gallery" id="history">
        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Maestría en Ciencias de la Información y las Comunicaciones</h5>
                <div class="art-el-suptitle mb-15">Universidad Distrital Francisco José de Caldas</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">En curso</span>
              </div>
            </div>

            <p>Profundización en Ingeniería de Software.</p>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Especialista en Ingeniería de Software </h5>
                <div class="art-el-suptitle mb-15">Universidad Distrital Francisco José de Caldas</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">Abril 2020</span>
              </div>
            </div>
            <div></div>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Ingeniero de Sistemas</h5>
                <div class="art-el-suptitle mb-15">Universidad Popular del Cesar</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">Diciembre 2017</span>
              </div>
            </div>
            <p></p>
            <a data-fancybox="diplome" href="{{ site.baseurl }}/assets/files/certificate.jpg"
              class="art-link art-color-link art-w-chevron">Licence</a>
          </div>

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Tec. Ingeniero de Sistemas </h5>
                <div class="art-el-suptitle mb-15">UPARSISTEM</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">Julio 2007</span>
              </div>
            </div>
            <p></p>
            <a data-fancybox="diplome" href="{{ site.baseurl }}/assets/files/certificate.jpg"
              class="art-link art-color-link art-w-chevron">Certificate</a>
          </div>

        </div>

      </div>

    </div>
    <div class="col-lg-6">

      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Experiencia laboral</h4>
        </div>
      </div>

      <div class="art-timeline">

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Líder de Desarrollo / DevOps Team Leader</h5>
                <div class="art-el-suptitle mb-15">IFX Networks</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">mayo 2019 - actualmente</span>
              </div>
            </div>
            <p>Líder del equipo de Desarrollo Cloud para el desarrollo de soluciones con plataformas bajo tecnologías
              como Angular, ASP Net Core, JavaServer faces, Docker, Kubernetes, Xamarin, Java EE, ASP.Net MVC, Azure
              DevOps con pipelines de integración continua y despliegue continuo, Jenkins con pruebas automatizadas para
              Angular, SQL Server, Hyper-V, VMware, OracleVm, PowerShell, infraestructura como código para el
              aprovisionamiento automático en ambientes Multi-Cloud, brokers de servicios como Mulesoft, Apigee – Google
              Cloud, Azure API Management, y brokers de mensajería como RabbitMQ y MQTT.</p>
          </div>
        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>


          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Desarrollador full stack .Net</h5>
                <div class="art-el-suptitle mb-15">Squad Digital - Stefanini</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">enero 2019 - mayo 2019</span>
              </div>
            </div>
            <p>Desarrollador de microservicios bajo metodología DevOps en proyecto de transformación digital soportado
              en tecnologías y plataformas como Asp Core, Service Fabric, Azure API Management, Docker, Kubernetes,
              Azure Cosmo DB, SQL Server, MongoDB.</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-1"
              class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-1">

            <div class="art-a art-testimonial">
              
              <div class="testimonial-body">
               
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-3.jpg"
                  alt="face">
                
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>

                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue
                  before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank
                  you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>

              <div class="art-testimonial-footer">
                <div class="art-left-side">

                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Líder Técnico</h5>
                <div class="art-el-suptitle mb-15">DB-SYSTEM</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">enero 2016 - enero 2019</span>
              </div>
            </div>
            <p>Líder técnico de diferentes equipos y proyectos de desarrollo en la fabrica de software de DB System.</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-2"
              class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

         
          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-2">

            <div class="art-a art-testimonial">
              
              <div class="testimonial-body">
               
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-4.jpg"
                  alt="face">
                
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>

                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue
                  before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank
                  you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="art-timeline-item">
          <div class="art-timeline-mark-light"></div>
          <div class="art-timeline-mark"></div>

          <div class="art-a art-timeline-content">
            <div class="art-card-header">
              <div class="art-left-side">
                <h5>Fénix Móviles</h5>
                <div class="art-el-suptitle mb-15">Coordinador de Desarrollo</div>
              </div>
              <div class="art-right-side">
                <span class="art-date">Julio 2014 - Diciembre 2015</span>
              </div>
            </div>
            <p>Web Developer y coordinador del equipo de desarrollo de la compañía, usando tecnologías ASP.NET en el
              desarrollo de aplicaciones con .NET y Android.</p>
            <a data-fancybox="recommendation" href="#art-recomendation-popup-3"
              class="art-link art-color-link art-w-chevron">Recommendation</a>
          </div>

          <div class="art-recomendation-popup" style="display: none;" id="art-recomendation-popup-3">

            <div class="art-a art-testimonial">
              <div class="testimonial-body">
                <img class="art-testimonial-face" src="{{ site.baseurl }}/assets/img/testimonials/face-2.jpg"
                  alt="face">
                <h5>Paul Trueman</h5>
                <div class="art-el-suptitle mb-15">Template author</div>
                <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue
                  before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank
                  you Artur!
                  This is easily a 5 star freelancer.</div>
              </div>
              <div class="art-testimonial-footer">
                <div class="art-left-side">
                  <ul class="art-star-rate">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li class="art-empty-item"><i class="fas fa-star"></i></li>
                  </ul>
                </div>
                <div class="art-right-side">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row p-30-0">
    <div class="col-lg-12">
      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Que hay de nuevo</h4>
        </div>

        <div class="art-right-frame">
          <div class="art-filter">
            <a href="#" data-filter="*" class="art-link art-current">Todas las Categorias</a>
            <a href="#" data-filter=".metodoslogias" class="art-link">Metodologias</a>
            <a href="#" data-filter=".severless" class="art-link">Serverless</a>
            <a href="#" data-filter=".tecnologias" class="art-link">Tecnologías</a>
            <a href="#" data-filter=".ui" class="art-link">UI Frameworks</a>
          </div>
        </div>
      </div>

    </div>

    <div class="art-grid art-grid-3-col art-gallery">
      <div class="art-grid-item metodoslogias">
        <a data-fancybox="gallery" href="img/works/original-size/1.png"
          class="art-a art-portfolio-item-frame art-horizontal">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/1.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <div class="art-item-description">

          <h5 class="mb-15">Implement Scaled Agile Framework®</h5>
          <a href="https://docs.microsoft.com/en-us/azure/devops/boards/plans/scaled-agile-framework?view=azure-devops"
            class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>
      </div>

      <div class="art-grid-item metodoslogias">
        <a data-fancybox="gallery" href="img/works/original-size/2.png"
          class="art-a art-portfolio-item-frame art-vertical">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/2.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>

        <div class="art-item-description">

          <h5 class="mb-15">WHAT IS LEAN?</h5>
          <div class="mb-15">The core idea is to maximize customer value while minimizing wast.</div>
          <a href="https://www.lean.org/whatslean/" class="art-link art-color-link art-w-chevron" target="_blank">Ver
            mas...</a>
        </div>

      </div>
      <div class="art-grid-item tecnologias">

        <a data-fancybox="gallery" href="img/works/original-size/brocker-msg.png"
          class="art-a art-portfolio-item-frame art-square">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/brocker-msg.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>

        <div class="art-item-description">
          <h5 class="mb-15">Message Brokers</h5>
          <div class="mb-15">Message brokers are an inter-application communication technology to help build a common
            integration mechanism to support cloud native, microservices-based, serverless and hybrid cloud
            architectures.</div>
          <a href="https://www.ibm.com/cloud/learn/message-brokers" class="art-link art-color-link art-w-chevron"
            target="_blank">Ver mas...</a>
        </div>

      </div>

      <div class="art-grid-item ui">

        <a data-fancybox="gallery" href="img/works/original-size/react-galaxia.png"
          class="art-a art-portfolio-item-frame art-vertical">

          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/react-galaxia.png" alt="item">

          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>

        <div class="art-item-description">

          <h5 class="mb-15">React</h5>
          <div class="mb-15">A JavaScript library for building user interfaces.</div>

          <a href="https://reactjs.org/" class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>

      </div>
      <div class="art-grid-item metodoslogias">
        <a data-fancybox="gallery" href="img/works/original-size/dad.png"
          class="art-a art-portfolio-item-frame art-square">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/dad.png" alt="item">
          
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <div class="art-item-description">

          <h5 class="mb-15">Disciplined Agile Delivery (DAD)</h5>
          <div class="mb-15">DAD is people-first, learning-oriented hybrid agile approach to IT solution delivery. It
            has a risk-value delivery lifecycle, is goal-driven, is enterprise aware, and is scalable.</div>

          <a href="https://www.pmi.org/disciplined-agile/process/introduction-to-dad"
            class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>

      </div>

      <div class="art-grid-item severless">

        <a data-fancybox="gallery" href="img/works/original-size/serverless-arqu.png"
          class="art-a art-portfolio-item-frame art-vertical">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/serverless-arqu.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <div class="art-item-description">

          <h5 class="mb-15">Guide to serverless</h5>
          <div class="mb-15">The essential guide to serverless, technologies and architectures.</div>

          <a href="https://techbeacon.com/enterprise-it/essential-guide-serverless-technologies-architectures"
            class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>
      </div>

      <div class="art-grid-item tecnologias">
        <a data-fancybox="gallery" href="img/works/original-size/DiagramaArquitecuraSolucion.png"
          class="art-a art-portfolio-item-frame art-square">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/DiagramaArquitecuraSolucion.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>
        <div class="art-item-description">

          <h5 class="mb-15">What is API management?</h5>
          <div class="mb-15">API management is the process of designing, publishing, documenting and analyzing APIs in a
            secure environment.</div>
          <a href="https://www.mulesoft.com/resources/api/what-is-api-management"
            class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>

      </div>

      <div class="art-grid-item ui">
        <a data-fancybox="gallery" href="img/works/original-size/angular.png"
          class="art-a art-portfolio-item-frame art-horizontal">
          <img src="{{ site.baseurl }}/assets/img/works/thumbnail/angular.png" alt="item">
          <span class="art-item-hover"><i class="fas fa-expand"></i></span>
        </a>

        <div class="art-item-description">
          <h5 class="mb-15">Angular</h5>
          <div class="mb-15">The modern web developer's platform.</div>
          <a href="https://angular.io/" class="art-link art-color-link art-w-chevron" target="_blank">Ver mas...</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">

  <div class="row">

    <div class="col-lg-12">

      <div class="art-section-title">
        <div class="art-title-frame">
          <h4>Blog</h4>
        </div>
      </div>

    </div>

    <div class="col-lg-12">

      <div class="swiper-container art-blog-slider" style="overflow: visible">
        <div class="swiper-wrapper">
          <div class="swiper-slide">

            <div class="art-a art-blog-card">
              <a href="#." class="art-port-cover">
                <img src="{{ site.baseurl }}/assets/img/blog/1.jpg" alt="blog post">
              </a>
              <div class="art-post-description">

                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>
                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>
                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>

            </div>


          </div>


          <div class="swiper-slide">


            <div class="art-a art-blog-card">

              <a href="#." class="art-port-cover">

                <img src="{{ site.baseurl }}/assets/img/blog/2.jpg" alt="blog post">
              </a>


              <div class="art-post-description">

                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>

                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>

                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>

            </div>


          </div>


          <div class="swiper-slide">


            <div class="art-a art-blog-card">

              <a href="#." class="art-port-cover">

                <img src="{{ site.baseurl }}/assets/img/blog/3.jpg" alt="blog post">
              </a>


              <div class="art-post-description">

                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>

                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>

                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>

            </div>


          </div>


          <div class="swiper-slide">


            <div class="art-a art-blog-card">

              <a href="#." class="art-port-cover">

                <img src="{{ site.baseurl }}/assets/img/blog/4.jpg" alt="blog post">
              </a>


              <div class="art-post-description">

                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>

                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>

                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>

            </div>


          </div>


          <div class="swiper-slide">


            <div class="art-a art-blog-card">

              <a href="#." class="art-port-cover">

                <img src="{{ site.baseurl }}/assets/img/blog/5.jpg" alt="blog post">
              </a>


              <div class="art-post-description">

                <a href="#.">
                  <h5 class="mb-15">Blog post title</h5>
                </a>

                <div class="mb-15">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet!</div>

                <a href="#." class="art-link art-color-link art-w-chevron">Read more</a>
              </div>

            </div>


          </div>

        </div>

      </div>

    </div>



    <div class="col-lg-12">


      <div class="art-slider-navigation">


        <div class="art-sn-left">


          <div class="swiper-pagination"></div>

        </div>

        <div class="art-sn-right">


          <div class="art-slider-nav-frame">
            <div class="art-slider-nav art-blog-swiper-prev"><i class="fas fa-chevron-left"></i></div>
            <div class="art-slider-nav art-blog-swiper-next"><i class="fas fa-chevron-right"></i></div>
          </div>


        </div>

      </div>

    </div>


  </div>


</div> -->



<div class="container-fluid">


  <div class="row p-30-0">


    <div class="col-lg-12">


      <div class="art-section-title">

        <div class="art-title-frame">

          <h4>Información de contacto - <a href="mailto:breinergonza@hotmail.com">Escribeme</a></h4>
        </div>

      </div>


    </div>


    <div class="col-lg-4">
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Pais:</h6><span>Colombia</span>
            </li>
            <li>
              <h6>Ciudad:</h6><span>Bogotá</span>
            </li>

            <li>
              <h6>Dirección:</h6><span>Av. Cr. 68 #15-19</span>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Email:</h6><span>breinergonza@hotmail.com</span>
            </li>
            <li>
              <h6>Telegram:</h6><span>@breinergonza</span>
            </li>
            <li>
              <h6>Skype:</h6><span>breinergonza</span>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-lg-4">
      <div class="art-a art-card">
        <div class="art-table p-15-15">
          <ul>
            <li>
              <h6>Celular:</h6><span>+57 (311) 652 05 74</span>
            </li>
            <li>
              <h6>Telefono:</h6><span>+57 (031) 813 39 53</span>
            </li>
          </ul>
        </div>
      </div>

    </div>



    <div class="col-lg-12">


      <div class="art-section-title">

        <div class="art-title-frame">

        </div>

      </div>


    </div>


  </div>


</div>



<div class="container-fluid">

  <div class="row">

    <div class="col-6 col-lg-3">
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/1.png" alt="brand">
    </div>

    <div class="col-6 col-lg-3">
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/2.png" alt="brand">
    </div>

    <div class="col-6 col-lg-3">
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/3.png" alt="brand">
    </div>

    <div class="col-6 col-lg-3">
      <img class="art-brand" src="{{ site.baseurl }}/assets/img/brands/4.png" alt="brand">
    </div>

  </div>

</div>
